<form class="form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Email Address" type="text" formControlName="username">
    <mat-error *ngIf="form.get('username').hasError('required')">
      Please provide username or Email
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="form.get('password').hasError('required')">
      Please provide a password
    </mat-error>
  </mat-form-field>

  <div class="form__checkbox">
    <mat-checkbox color="primary" formControlName="rememberMe">Remember me</mat-checkbox>
  </div>
  <div class="form-actions">
    <button class="form-actions__login" mat-raised-button color="primary" type="submit">Login</button>
    <button (click)="onForgotPasswordClick()" class="form-actions__forget" mat-button>Forgot password?</button>
  </div>
</form>
