<mat-card class="simple-chart">
  <mat-card-title class="simple-chart__header">
    <h5 class="simple-chart__header-title">{{chartTitle}}</h5>
    <app-settings-menu></app-settings-menu>
  </mat-card-title>

  <mat-card-content class="simple-chart__content">
    <div class="simple-chart__content-chart" echarts [options]="chartData"></div>
  </mat-card-content>
</mat-card>
