@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.simple-chart {
  height: 192px;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;

    &-title {
      font-size: 20px;
      font-weight: $fw-lighter;
      margin: 0;
      line-height: 40px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &-chart {
      height: 140px;
      width: 100%;
      max-width: 218px
    }
  }
}
