@import "src/app/styles/variables";
@import "src/app/styles/colors";
@import "src/app/styles/font";

.app-badge {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 15px;

  &_solid {
    &-pink {
      background-color: $pink;
    }

    &-blue {
      background-color: $blue;
    }

    &-green {
      background-color: $green;
    }

    &-yellow {
      background-color: $yellow;
    }

    &-violet {
      background-color: $violet;
    }
  }

  &_transparent {
    &-pink {
      background-color: $pink-15;
    }

    &-blue {
      background-color: $blue-15;
    }

    &-green {
      background-color: $green-15;
    }

    &-yellow {
      background-color: $yellow-15;
    }

    &-violet {
      background-color: $violet-15;
    }
  }

  &__title {
    margin: 0;
    padding-right: 10px;

    &_white {
      color: $white;
    }
  }

  &__icon-wrapper {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_transparent {
      color: $white-80;

      &-pink {
        color: $pink;
      }

      &-blue {
        color: $blue;
      }

      &-green {
        color: $green;
      }

      &-yellow {
        color: $yellow;
      }

      &-violet {
        color: $violet;
      }
    }

    &_solid {
      &-pink {
        color: $pink;
      }

      &-blue {
        color: $blue;
      }

      &-green {
        color: $green;
      }

      &-yellow {
        color: $yellow;
      }

      &-violet {
        color: $violet;
      }
    }
  }

  &__icon-wrapper-circle {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    margin-right: 16px;

    &_transparent {
      &-pink {
        color: $pink;
        background-color: $pink-15;
      }

      &-blue {
        color: $blue;
        background-color: $blue-15;
      }

      &-green {
        color: $green;
        background-color: $green-15;
      }

      &-yellow {
        color: $yellow;
        background-color: $yellow-15;
      }

      &-violet {
        color: $violet;
        background-color: $violet-15;
      }
    }
  }
}
