<ng-template #content>
  <ng-content></ng-content>
</ng-template>
<div *ngIf="type==='transparent'" class="app-badge">
  <div [ngClass]="badgeTransparentClass">
    <mat-icon>{{icon}}</mat-icon>
  </div>
  <p class="app-badge__title">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </p>
</div>

<div *ngIf="type==='solid'" [ngClass]="badgeSolidClass">
  <div *ngIf="icon" class="app-badge__icon-wrapper app-badge__icon-wrapper_transparent">
    <mat-icon>{{icon}}</mat-icon>
  </div>
  <p class="app-badge__title app-badge__title_white">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </p>
</div>

<div *ngIf="type==='transparent-circle'" [ngClass]="'app-badge app-badge_transparent-'+color">
  <div [ngClass]="badgeTransparentCircleClass">
    <mat-icon *ngIf="icon">{{icon}}</mat-icon>
  </div>
  <p class="app-badge__title">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </p>
</div>
