<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="auth-page__group">
        <mat-tab label="{{resetPassword.show ? 'Reset' : 'Login'}}">
          <h4 class="auth-page__group-title">{{!resetPassword.show ? greeting : 'Reset your password'}}</h4>
          <app-login-form *ngIf="!resetPassword.show" (sendLoginForm)="sendLoginForm($event)"
                          (forgotPasswordClick)="onForgotPasswordClick()">
          </app-login-form>
          <app-reset-password *ngIf="resetPassword.show"
                              [sentEmail]="resetPassword.sentEmail"
                              (onCancel)="goToLogin()"
                              (formSubmit)="onForgotPasswordSubmit($event)">
          </app-reset-password>
        </mat-tab>
        <mat-tab label="New User">
          <h4 class="auth-page__group-title">Welcome!</h4>
          <p class="auth-page__group-sub-title">Create you account</p>
          <app-user-form (sendUserForm)="register($event)"></app-user-form>
        </mat-tab>
      </mat-tab-group>

      <p class="auth-page__footer-title">© {{todayDate | year}}Aleksander Ndoci (design by FlatLogic). All rights reserved.</p>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/logo.svg" alt="logo">
      <h6 class="auth-page__logo-title">Annual Leave Administration</h6>
    </div>
  </div>
</div>
