<mat-card>
  <mat-card-title>
    <h6>{{cardTitle}}</h6>
  </mat-card-title>
  <mat-card-header>
    <app-search-user-form *ngIf="userSearchRequest"
                          [userSearch]="userSearchRequest"
                          [fullSearch]="fullSearchForm"
                          (onSearchClick)="searchUserForm($event)">
    </app-search-user-form>
  </mat-card-header>
  <mat-divider *ngIf="fullSearchForm"></mat-divider>
  <mat-card-content>
    <app-table wrapperClass="" *ngIf="userDataTransformed"
               [totalElements]="userData.totalElements"
               [extraColName]="actionButtons && 'Actions'"
               [data]="userDataTransformed"
               [operationBtns]="operationButtons"
               [pageRequest]="userSearchRequest"
               (onBtnClick)="onRemoveUserEmit($event)"
               (onPageSortChange)="onPageRequestChange($event)"
               [displayCols]="tableCols">
    </app-table>
  </mat-card-content>
</mat-card>
