<div class="charts-content">
  <div class="charts-content__charts-wrapper">
    <mat-card class="charts-content__chart-item">
      <mat-card-title><h5>Latest leaves</h5></mat-card-title>
      <mat-card-content>
        <div>
          <app-single-leave *ngFor="let leave of ongoingLeave" [leave]="leave"
                            (leaveCancel)="cancelLeave($event)">
          </app-single-leave>
          <div class="view-more-btn">
            <button mat-flat-button
                    [disabled]="viewMoreDisabled"
                    (click)="viewMoreLeaves()">View more
            </button>
          </div>
        </div>
        <app-badge *ngIf="!ongoingLeave || ongoingLeave.length === 0"
                   class="no-content"
                   color="pink"
                   icon="close"
                   type="transparent-circle">
          No leave requests found
        </app-badge>
      </mat-card-content>
    </mat-card>
    <mat-card class="charts-content__chart-item">
      <mat-card-title>
        <p>Leaves for period: {{pieChartLabel}}</p>
      </mat-card-title>
      <app-pie-chart *ngIf="pieChartData" [pieChartColors]="chartColors"
                     [pieChartData]="pieChartData">
      </app-pie-chart>
    </mat-card>
  </div>
</div>
