<form class="form" [formGroup]="form" (ngSubmit)="formSubmit()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Name" type="text" formControlName="name">
    <mat-error
      *ngIf="form.get('name').hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Surname" type="text" formControlName="surname">
    <mat-error
      *ngIf="form.get('surname').hasError('required')">
      Surname is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Username" type="text" formControlName="username">
    <mat-error
      *ngIf="form.get('username').hasError('required')">
      Username is required
    </mat-error>
    <mat-error
      *ngIf="form.get('username').hasError('usernameInUse') &&
      !form.get('username').hasError('required')">
      This username is taken
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Email Address" type="email" formControlName="email">
    <mat-error
      *ngIf="form.get('email').hasError('required') || form.get('email').hasError('email')">
      Please provide a valid email
    </mat-error>
    <mat-error
      *ngIf="!form.get('email').hasError('required') &&
      !form.get('email').hasError('email') &&
      form.get('email').hasError('usernameInUse')">
      This email is taken
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input" *ngIf="!isEditForm">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error
      *ngIf="form.get('password').hasError('required') ||
      !form.get('password').hasError('minLength') &&
      !form.get('password').hasError('maxLength')">
      Provide a valid password 8-24 characters
    </mat-error>
  </mat-form-field>

  <div *ngIf="isEditForm">
    <button *ngIf="isEditForm" class="edit-btn" mat-raised-button color="primary" type="submit">
      Submit
    </button>
  </div>

  <div *ngIf="!isEditForm" class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">
      Create account
    </button>
  </div>
</form>
