<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <form [formGroup]="roleForm">
      <ng-template matStepLabel>Select role</ng-template>
      <mat-form-field appearance="fill" class="form-input">
        <mat-label>Status</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of _roles" [value]="role.id">
            {{role.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Compile personal data">
    <app-user-form [user]="user"
                   [isEditForm]="isEditForm"
                   (sendUserForm)="onSubmit($event)">
    </app-user-form>
  </mat-step>
</mat-horizontal-stepper>
