<button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
  <mat-icon class="user-button__icon">person</mat-icon>
</button>
<mat-menu #userMenu="matMenu" xPosition="before">
  <div class="user-menu-title">
    <div>
      <button class="user-menu-title__blue"
              mat-mini-fab>{{_utils.getFullName(user) | shortName}}
      </button>
      <h4 class="user-menu-title__name">{{_utils.getFullName(user)}}</h4>
    </div>
    <p class="user-menu-title__link">@{{user?.username}}</p>
  </div>
  <button mat-menu-item class="user-menu__item-title" (click)="profileEmit()">
    <mat-icon class="user-menu-icon">person</mat-icon>
    Profile
  </button>
  <div class="sign-button-wrapper">
    <button class="sign-button" mat-flat-button (click)="signOutEmit()">
      <mat-icon class="logout-icon">lock_open</mat-icon>
      Sign out
    </button>
  </div>
</mat-menu>
