@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.user-button {
  background-color: $blue;
  box-shadow: none;
  margin-left: 16px;

  &__icon {
    color: $white-35;
  }

  &:hover {
    background-color: $black-08;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

.user-menu-title {
  padding: 16px 48px 0 16px;
  margin-bottom: 4px;

  &__name {
    margin-bottom: 4px;
    display: inline;
    margin-left: 15px;
    font-weight: $fw-lighter;
    font-size: $fs-normal;
    color: $dark-grey;
  }

  &__link {
    color: $blue;
    margin-top: 15px;
    font-weight: $fw-lighter;
    font-size: $fs-small;
    text-decoration: none;
  }

  &__blue {
    background-color: $blue;
  }
}

.user-menu-icon {
  color: $light-grey;
  margin-right: 16px;
  opacity: .8;
}

.logout-icon {
  color: $pink;
  margin-right: 8px;
  opacity: .8;
}

.sign-button-wrapper {
  text-align: center;
  padding: 8px 0 16px 0;
  width: 100%;
}

.sign-button {
  color: $pink;
  border: 1px solid;
  width: 80%;
}

.user-menu {
  &__item-title {
    color: $light-grey;

    &:hover {
      color: $dark-grey;
      background-color: $blue-white;

      & .user-menu-icon {
        color: #536DFE;
      }
    }
  }
}
