<form class="form" [formGroup]="form" (ngSubmit)="formSubmit()">
  <mat-form-field class="form__input">
    <input matInput [ngxMatDatetimePicker]="startDateTimePicker"
           placeholder="Choose start date"
           [formControl]="startDateControl">
    <mat-datepicker-toggle matSuffix [for]="startDateTimePicker">
    </mat-datepicker-toggle>
    <ngx-mat-datetime-picker #startDateTimePicker
                             [showSpinners]="true"
                             [showSeconds]="false"
                             [stepHour]="1" [stepMinute]="5"
                             [touchUi]="false"
                             [color]="'primary'">
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="startDateControl.hasError('required')">
      Please select start date
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput [ngxMatDatetimePicker]="endDateTimePicker"
           placeholder="Choose end date"
           [formControl]="endDateControl"
           [min]="startDateControl.value">
    <mat-datepicker-toggle matSuffix [for]="endDateTimePicker">
    </mat-datepicker-toggle>
    <ngx-mat-datetime-picker #endDateTimePicker
                             [showSpinners]="true"
                             [showSeconds]="false"
                             [stepHour]="1" [stepMinute]="5"
                             [touchUi]="false"
                             [color]="'primary'">
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="endDateControl.hasError('required')">
      Please select end date
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <mat-label>Select approvers...</mat-label>
    <mat-chip-list #chipList aria-label="Selected approvers">
      <mat-chip *ngFor="let approver of selectedApprovers"
                [value]="approver.guid"
                (removed)="removeApprover(approver)">
        {{approver.name | fullName:approver.surname}}
        <mat-icon matChipRemove>close</mat-icon>
      </mat-chip>
      <input placeholder="New approver..."
             formControlName="supervisorName"
             [matChipInputFor]="chipList"
             [matAutocomplete]="auto"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="false"
             (matChipInputTokenEnd)="searchForApprover($event)">
      <mat-error *ngIf="form.get('supervisorName').hasError('noApproverFound')">
        No supervisor found
      </mat-error>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let approver of availableApprovers" [value]="approver.guid">
        <div>
          <button [disabled]="true" class="leave-form__approver__icon"
                  mat-mini-fab color="primary">{{approver.name | fullName:approver.surname | shortName}}</button>
          <span class="leave-form__approver__name">
            {{approver.name | fullName:approver.surname}}
          </span>
          <mat-divider></mat-divider>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="form__input" appearance="standard">
    <mat-label>Choose leave type...</mat-label>
    <mat-select formControlName="leaveType">
      <mat-option *ngFor="let leaveType of leaveTypes" [value]="leaveType.value">
        {{leaveType.value}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('leaveType').hasError('required')">
      Please select leave type
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form__input">
    <mat-label>Reason</mat-label>
    <textarea matInput placeholder="Specify leave reason" formControlName="reason"></textarea>
    <mat-error *ngIf="form.get('reason').hasError('required')">
      Please specify the reason
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="form.hasError('endDateInvalid')">
    End date of the leave has to be before than start date
  </mat-error>
  <mat-error *ngIf="form.hasError('startHourInvalid')">
    Leave can be requested only from 8AM-6PM
  </mat-error>
  <mat-error *ngIf="(!leaveApprovers || leaveApprovers.length ===0)">
    Please select supervisors that need to approve the leave
  </mat-error>

  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">Apply for leave</button>
  </div>
</form>
