@import "src/app/styles/colors";

.form {
  margin-top: 25px;
  width: 60%;
  display: inline-block;

  &__input {
    margin-top: 8px;
    display: inline-block;
    width: 60%;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  &__create {
    margin: 0;
    width: 45%;
    box-shadow: 0 0 11px 0 $shadow-white, 0 0 0 -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
  }

}

.leave-form {
  margin-top: 4px;
  margin-bottom: 6px;

  &__approver__icon {
    margin: 2px 2px 2px 10px;
    pointer-events: none;
  }

  &__approver__name {
    margin-left: 10px;
  }
}

::ng-deep {
  .mat-form-field-underline {
    display: inherit !important;
    opacity: 0.5;
  }
}

