@import "colors";

@mixin toastr-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@mixin toastr($color) {
  position: relative;
  overflow: hidden;
  margin: 16px 0 6px 0;
  pointer-events: all;
  cursor: pointer;
  width: 257px;
  color: $white;
  display: flex;
  align-items: center;
  background-color: $color;
  height: 50px;
}

@mixin toastr-wrapper-icon {
  color:$white-80;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin toastr-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

@mixin toastr-content-title {
  margin-right: 0;
}

@mixin toastr-content-msg {
  margin-left: 5px;
}

@mixin toastr-icon {
  padding: 0;
  width: auto;
  height: auto;
}
