<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Manage users</h1>
    <button mat-stroked-button color="primary"
            (click)="addUser()">
      <span class="material-icons">
        person_add_alt_1
      </span>
      Add user
    </button>
  </mat-toolbar>
  <div>
    <app-admin-users
      cardTitle="Search users"
      [userData]="userData"
      (requestChanged)="onRequestChanged($event)"
      (onRemoveUser)="removeUser($event)"
      [fullSearchForm]="true"
      [actionButtons]="true">
    </app-admin-users>
  </div>
</app-layout>
