<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Manage users</h1>
    <button mat-stroked-button color="primary"
            (click)="goToHome()">
      <span class="material-icons">
        home
      </span>
      Dashboard
    </button>
  </mat-toolbar>
  <div>
    <mat-card>
      <mat-card-title>Add user</mat-card-title>
      <mat-card-content>
        <div class="add-user-form">
          <app-add-user-form (onFormSubmit)="createUser($event)">
          </app-add-user-form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-layout>
