<div class="charts-content">
  <div class="charts-content__charts-wrapper">
    <app-simple-pie-chart *ngIf="usersChart && usersChart.length>0"
                          class="charts-content__chart-item-noshadow"
                          chartTitle="WhoLeafs Users"
                          [pieChartData]="usersChart">
    </app-simple-pie-chart>
    <mat-card class="charts-content__chart-item" *ngIf="annualPeriod">
      <mat-card-title>
        <h6>Actual period: {{annualPeriod.periodTitle}}</h6>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="annual-period">
          <app-badge class="annual-period__badge" color="green"
                     type="transparent-circle"
                     icon="check">
            <h6>Start: {{annualPeriod.startDate | isoDate}} </h6>
          </app-badge>
          <app-badge class="annual-period__badge"
                     color="pink"
                     type="transparent-circle"
                     icon="south">
            <h6>End: {{annualPeriod.endDate | isoDate}}</h6>
          </app-badge>
          <app-badge class="annual-period__badge"
                     type="transparent-circle"
                     color="blue"
                     icon="access_time">
            {{annualPeriod.defaultTotalHours}} Hours
          </app-badge>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>
<div>
  <app-admin-users (requestChanged)="onRequestChange($event)"
                   cardTitle="Users"
                   [userData]="userData">
  </app-admin-users>
</div>
