@import "src/app/styles/variables";

.charts-content {
  margin: 0 8px;

  &__charts-wrapper {
    display: flex;

    @media (max-width: $small) {
      flex-wrap: wrap;
    }
  }

  &__chart-item {
    box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
    width: 100%;
  }

  &__chart-item-noshadow {
    width: 100%;
  }
}

.annual-period {
  width: 100%;
  margin-top: 3%;

  &__badge {
    display: block;
    width: 80%;
    margin-top: 20px;
  }
}

.no-content {
  display: block;
  margin-top: 20%;
}
