<button class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
  <mat-icon class="settings-button__icon">more_horiz</mat-icon>
</button>
<div class="settings-menu">
  <mat-menu #settings="matMenu" xPosition="before">
    <button class="settings-menu__item" (click)="onButtonClick()" mat-menu-item>{{buttonLabel}}</button>
  </mat-menu>
</div>
