<div mat-dialog-content>
  <p>Are you sure you want to refuse the leave?</p>
  <mat-form-field>
    <mat-label>Please specify reason</mat-label>
    <input matInput [(ngModel)]="data.reason">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="warn"
          [disabled]="!data.reason || data.reason.length===0">Refuse
  </button>
</div>
