<mat-list *ngFor="let menuitem of menuItems">
  <mat-list-item routerLink="{{menuitem.url}}" routerLinkActive="active">
    <div class="project-circle project-circle_blue hidden" routerLinkActive="show"></div>
    <mat-icon>{{menuitem.icon}}</mat-icon>
    {{menuitem.title}}
  </mat-list-item>
</mat-list>


<div *ngIf="showLeaveTypes">
  <p class="sidebar-title">Leave management</p>
  <mat-list>
    <mat-list-item class="noLink">
      <div class="project-circle project-circle_yellow"></div>
      Pending
    </mat-list-item>
    <mat-list-item class="noLink">
      <div class="project-circle project-circle_green"></div>
      Confirmed
    </mat-list-item>
    <mat-list-item class="noLink">
      <div class="project-circle project-circle_red"></div>
      Refused
    </mat-list-item>
  </mat-list>
</div>

