<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Dashboard</h1>
    <button *ngIf="role===_roles.USER"
            mat-stroked-button color="primary"
            (click)="applyForLeave()">
      <span class="material-icons">
        add_task
      </span>
      Leave request
    </button>
  </mat-toolbar>

  <app-user-dashboard *ngIf="role===_roles.USER"></app-user-dashboard>
  <app-admin-dashboard *ngIf="role===_roles.ADMIN"></app-admin-dashboard>
  <app-supervisor-dashboard *ngIf="role===_roles.SUPERVISOR"></app-supervisor-dashboard>
  <app-finance-dashboard *ngIf="role===_roles.FINANCE"></app-finance-dashboard>

</app-layout>
