<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Apply for leave</h1>
    <button mat-stroked-button color="primary"
            (click)="goToHome()">
      <span class="material-icons">
        home
      </span>
      Dashboard
    </button>
  </mat-toolbar>
  <div class="leave-form__wrapper">
    <div class="leave-form__content">
      <mat-card>
        <mat-card-title>
          <h3>Please compile the required fields</h3>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <app-apply-leave-form (onFormSubmit)="applyForLeave($event)">
          </app-apply-leave-form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-layout>
