<form class="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Actual password" type="password" formControlName="password">
    <mat-error *ngIf="form.get('password').hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput placeholder="New password" type="password" formControlName="newPassword">
    <mat-error *ngIf="form.get('newPassword').hasError('required')">
      New password is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
    <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
      Please confirm password
    </mat-error>
  </mat-form-field>
  <mat-error
    *ngIf="form.hasError('passwordsDontMatch') &&
      !form.get('password').hasError('required') &&
      !form.get('confirmPassword').hasError('required')">
    Passwords don`t match
  </mat-error>
  <div class="form-actions">
    <button class="form-actions__btn" mat-raised-button color="primary" type="submit">
      Change password
    </button>
  </div>
</form>
