<div class="charts-content">
  <mat-card>
    <mat-card-title *ngIf="!showActiveOnly">Previous leave applications</mat-card-title>
    <mat-card-title *ngIf="showActiveOnly">Active leave applications</mat-card-title>
    <mat-card-content>
      <app-table *ngIf="leaveData" [extraColName]="showActiveOnly ? 'Actions' : null"
                 [operationBtns]="operationBtns"
                 (onBtnClick)="operationBtnClick($event)"
                 [pageRequest]="searchLeaveRequest"
                 [data]="leaveData.results"
                 [totalElements]="leaveData.totalElements"
                 (onPageSortChange)="onPageSortChange($event)"
                 [displayCols]="colsToDisplay">
      </app-table>
    </mat-card-content>
  </mat-card>
</div>
