<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Input name" type="text" formControlName="fullName">
    <button mat-button *ngIf="userSearch.fullName" matSuffix mat-icon-button aria-label="Clear"
            (click)="userSearch.fullName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button *ngIf="!fullSearch" mat-stroked-button [ngClass]="fullSearch? 'search-btn' : 'search-btn__m-left'" (click)="onSearchEmit()"
          color="primary">Search
  </button>
  <mat-form-field class="form-input" *ngIf="fullSearch">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username">
    <button mat-button *ngIf="userSearch.username" matSuffix mat-icon-button aria-label="Clear"
            (click)="userSearch.username=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="form-input" *ngIf="fullSearch">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email">
    <button mat-button *ngIf="userSearch.email" matSuffix mat-icon-button aria-label="Clear"
            (click)="userSearch.email=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="fullSearch">
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of _roles" [value]="role.id">
          {{role.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-input">
      <mat-label>Status</mat-label>
      <mat-select formControlName="accountStatus">
        <mat-option *ngFor="let status of _accStatuses" [value]="status.id">
          {{status.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<button *ngIf="fullSearch" mat-stroked-button [ngClass]="fullSearch? 'search-btn' : 'search-btn__m-left'" (click)="onSearchEmit()"
        color="primary">Search
</button>
<button *ngIf="fullSearch" mat-button class="search-btn__m-left" (click)="onClear()" color="primary">
  Clear search
</button>
