::ng-deep {
  .mat-form-field-underline {
    display: inherit !important;
    opacity: 0.5;
  }
}

.search-btn {
  margin-bottom: 2%;

  &__m-left {
    margin-left: 10px;
  }
}

.form-input {
  margin-left: 30px;
}
