<div class="toastr-wrapper">
  <div class="toastr-content">
    <div class="toastr-wrapper-icon">
      <mat-icon class="toastr-icon">check_circle_outline</mat-icon>
    </div>
    <p class="toastr-content__title"><b>{{title | truncate:15}}</b></p>
    &nbsp; &nbsp;
    <p class="toastr-content__title" [matTooltip]="message">{{message | truncate:40}}</p>
  </div>
  <div class="toastr-wrapper-icon">
    <mat-icon class="toastr-icon" (click)="remove()">close</mat-icon>
  </div>
</div>
