@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.header {
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: $header-height;

  &__title {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: auto;
    margin-left: 15px;
  }

  &__title-button {
    background-color: $header-button-background-color;
    box-shadow: none;

    &:hover {
      background-color: $header-button-background-color-hover;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__title-button-icon {
    color: $header-button-font-color;
  }

  &__title-text {
    color: $header-title-font-color;
    margin-left: 5px;
    font-weight: $fw-lighter;
    font-family: "Century Gothic", serif;
    font-size: 20px;

    @media (max-width: $small) {
      display: none;
    }
  }

  &__title-subtext {
    color: $header-title-font-color;
    margin-left: 15px;
    font-weight: $fw-lighter;
    font-family: "Segoe UI Historic", serif;
    font-size: 10px;

    @media (max-width: $small) {
      display: none;
    }
  }
}

.header-toolbar {
  display: flex;
  align-items: center;
}
