<mat-toolbar class="header">

  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
      <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon">arrow_back</mat-icon>
    </button>
    <img class="header__logo" src="./assets/logo.svg" alt="logo">
    <h4 class="header__title-text">WhoLeafs</h4>
    <h6 class="header__title-subtext">Annual Leave Management</h6>
  </div>

  <div class="header-toolbar">
    <app-search></app-search>
    <app-user
      [user]="loggedUser"
      (signOut)="signOut()"
      (profileClick)="goToProfile()">
    </app-user>
  </div>
</mat-toolbar>
