<form [formGroup]="form">
  <mat-form-field color="primary" appearance="outline">
    <mat-label>Choose start date</mat-label>
    <input matInput [matDatepicker]="fromPicker" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="form-input" color="primary" appearance="outline">
    <mat-label>Choose end date</mat-label>
    <input matInput [matDatepicker]="toPicker" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="form-input" appearance="outline">
    <mat-label>Leave type</mat-label>
    <mat-select formControlName="leaveType" multiple>
      <mat-option *ngFor="let status of leaveTypes_" [value]="status.id">{{status.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button mat-stroked-button (click)="onSearchEmit()" color="primary">
  Search
</button>
<button mat-button class="search-btn__m-left" (click)="onClear()" color="primary">
  Clear search
</button>
