<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Profile</h1>
    <button mat-stroked-button color="primary"
            (click)="goToHome()">
      <span class="material-icons">
        home
      </span>
      Dashboard
    </button>
  </mat-toolbar>
  <div class="content-wrapper">
    <mat-card>
      <mat-card-title>Edit your profile</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="content-wrapper__tab">
          <mat-tab-group>
            <mat-tab label="Personal data">
              <h3 class="content-wrapper__title">Please compile the required fields</h3>
              <app-user-form *ngIf="loggedUser"
                             [isEditForm]="true"
                             [user]="loggedUser"
                             (sendUserForm)="onProfileEdit($event)">
              </app-user-form>
            </mat-tab>
            <mat-tab label="Security">
              <h3 class="content-wrapper__title">Change your password</h3>
              <app-change-password-form
                (formSubmit)="onChangePassword($event)">
              </app-change-password-form>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-layout>
