.content-wrapper {
  width: 100%;

  &__tab {
    width: 60%;
    margin-left: 20%;
    min-height: 500px;
  }

  &__title {
    margin-right: 25%;
    margin-bottom: 15px;
  }
}

.leave-form {
  &__wrapper {
    margin-left: 30%;
  }

  &__content {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
}
