<form class="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <mat-form-field *ngIf="!sentEmail" class="form__input">
    <input matInput placeholder="Email Address" type="text" formControlName="email">
    <mat-error *ngIf="form.get('email').hasError('email') || form.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <div *ngIf="sentEmail">
    <mat-form-field class="form__input">
      <input matInput #resetPin maxlength="6" minlength="6" placeholder="PIN (6-digits)"
             formControlName="resetPin">
      <mat-error *ngIf="form.get('resetPin').hasError('required')">
        Pin is required
      </mat-error>
      <mat-hint align="end">{{resetPin.value.length}} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field class="form__input">
      <input matInput placeholder="New password" type="password" formControlName="password">
      <mat-error *ngIf="form.get('password').hasError('required')">
        New password is required
      </mat-error>
      <mat-error
        *ngIf="!form.get('password').hasError('required') && form.hasError('')">
        Passwords don`t match
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__input">
      <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
      <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
        Please confirm password
      </mat-error>
    </mat-form-field>
    <mat-error
      *ngIf="form.hasError('passwordsDontMatch') &&
      !form.get('password').hasError('required') &&
      !form.get('confirmPassword').hasError('required')">
      Passwords don`t match
    </mat-error>
  </div>
  <div class="form-actions">
    <button class="form-actions__btn" mat-raised-button color="primary" type="submit">
      {{sentEmail ? 'Change password' : 'Reset password'}}
    </button>
    <button class="form-actions__forget" (click)="onLoginClick()" mat-button>Login</button>
  </div>
</form>
