<div [ngClass]="wrapperClass">
  <table mat-table [dataSource]="dataSource" matSort class="generic-table" (matSortChange)="onSortChange($event)">
    <ng-container *ngFor="let col of displayCols" [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="col.sortKey || col.key">{{col.displayAs}}</th>
      <td mat-cell *matCellDef="let element"> {{getFormattedValue(element, col)}} </td>
    </ng-container>
    <ng-container matColumnDef="extraCol">
      <th mat-header-cell *matHeaderCellDef>{{extraColName}}</th>
      <td mat-cell *matCellDef="let element" [style]="'width: '+100/columns.length +'%'">
        <button *ngFor="let opBtn of operationBtns" mat-button [color]="opBtn.color" [disabled]="opBtn.disabled"
                (click)="onBtnClickEmit(element, opBtn.id)">
          <mat-icon>{{opBtn.icon}}</mat-icon>
          {{opBtn.label}}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator (page)="onPageChange($event)"
                 [pageIndex]="pageRequest.page.page"
                 [pageSize]="pageRequest.page.size"
                 [length]="totalElements"
                 [pageSizeOptions]="[5, 10, 15, 30]"
                 showFirstLastButtons></mat-paginator>
</div>
