<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Reports</h1>
    <button mat-stroked-button color="primary"
            (click)="home()">
      <span class="material-icons">
        home
      </span>
      Home
    </button>
  </mat-toolbar>
  <div>
    <mat-card>
      <button mat-icon-button color="primary"
              style="float: right; margin-right: 7%"
              (click)="onExcelDownloadClick()">
        <mat-icon>print</mat-icon>
        Download excel
      </button>
      <mat-card-title-group>
        <mat-card-title> Search leaves</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <app-search-leave-form [leaveSearchReq]="leaveSearchReq"
                               (onSearchClick)="onSearchClick($event)">
        </app-search-leave-form>
        <app-table *ngIf="leaveData"
                   [totalElements]="leaveData.totalElements"
                   [data]="leaveData.results"
                   [pageRequest]="leaveSearchReq"
                   [displayCols]="tableCols"
                   (onPageSortChange)="onPageSortChange($event)"
        >
        </app-table>
      </mat-card-content>
    </mat-card>
  </div>
</app-layout>
