@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.wrapper {
  margin-top: 15px;
}

.mat-list-item-content {
  display: flex;
  justify-content: space-between;
}

.mat-list {
}

.mat-list-item {
  margin-left: 25px;
}

::ng-deep {
  .mat-list-item-content {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }
}

.leave-reason {
  &__divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


.approvers {
  &__user_badge {
    margin-right: 23px;
  }

  &__name {
    margin-left: 15px;
    text-align: center;
    font-size: $fs-normal;
  }

  &__divider {
    margin-top: 10px;
  }
}


