<div class="wrapper">
  <mat-card>
    <mat-card-title-group>
      <h6>From: {{leave.startDate | dateTime}}, To: {{leave.endDate | dateTime}} <span
        *ngIf="leave.hours>0">({{leave.hours}} hours)</span></h6>
      <app-badge [type]="'transparent-circle'"
                 [color]="getColor(leave.leaveStatus)"
                 [icon]="'rule'">
        Leave status: {{leave.leaveStatus}}
      </app-badge>
      <app-settings-menu *ngIf="showCancelBtn" buttonLabel="Cancel" (buttonClick)="onCancel(leave.guid)">
      </app-settings-menu>
    </mat-card-title-group>
    <div class="leave-reason">
      <app-badge [type]="'transparent'"
                 [color]="'blue'"
                 icon="read_more">
        Reason:{{leave.leaveType}} / {{leave.reason}}
      </app-badge>
    </div>
    <mat-card-content>
      <app-badge [type]="'transparent'"
                 [color]="'blue'"
                 [icon]="'groups'">
        Leave Approvers:
      </app-badge>
      <mat-list>
        <mat-list-item *ngFor="let approver of leave.leaveApprovers">
          <div class="approvers__name_container">
            <button mat-mini-fab
                    class="approvers__user_badge">{{approver.name | fullName:approver.name | shortName}}</button>
            <span class="approvers__name">{{approver.name  | fullName:approver.surname }}</span>
          </div>
          <app-badge [color]="getColor(approver.status)"
                     [icon]="getIcon(approver.status)">
            {{approver.status}}
            <mat-icon *ngIf="approver.reason"
                      [inline]="true"
                      [matTooltip]="approver.reason">
              help_outline
            </mat-icon>
          </app-badge>
        </mat-list-item>
        <app-badge *ngIf="leave.leaveApprovers.length ===0"
                   [type]="'transparent-circle'"
                   [color]="'pink'"
                   [icon]="'close'">
          No leave approvers added
        </app-badge>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
