<div class="charts-content">
  <div class="charts-content__charts-wrapper">
    <mat-card *ngIf="leaveTypePieChart" class="charts-content__chart-item">
      <mat-card-title><h6>Frequent leave types requested (in hours)</h6>
        <span>{{leaveTypePieChart.periodTitle}}</span></mat-card-title>
      <mat-card-content>
        <app-pie-chart [pieChartData]="leaveTypePieChart.values"
                       [pieChartColors]="leavePieChartColors">
        </app-pie-chart>
      </mat-card-content>
      <div class="btn-form">
        <mat-form-field class="btn-form__element" color="primary" appearance="outline">
          <mat-label>Choose start date</mat-label>
          <input matInput [matDatepicker]="fromPicker" [(ngModel)]="periodRequest.from">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
        <div></div>
        <mat-form-field class="btn-form__element" color="primary" appearance="outline">
          <mat-label>Choose end date</mat-label>
          <input matInput [matDatepicker]="toPicker" [(ngModel)]="periodRequest.to">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
        <button mat-button color="primary" class="btn-form__element"
                (click)="onLeaveTypePieChartClick()">Apply
        </button>
      </div>
    </mat-card>

    <mat-card class="charts-content__chart-item">
      <mat-card-title>
        <h5>Leave requests this month</h5>
      </mat-card-title>
      <mat-card-content class="charts-content__table">
        <div class="charts-content__table">
          <app-table [pageRequest]="leavePageRequest" *ngIf="leaveData"
                     [displayCols]="displayTableCols"
                     (onPageSortChange)="onPageSortChange($event)"
                     [data]="leaveData.results"
                     [totalElements]="leaveData.totalElements">
          </app-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
